<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" href="../static/styles/style.css"/>-->
    <link th:href="@{/styles/style.css}" rel="stylesheet">
</head>
<body>
<table th:each="event : ${events}">
    <tr>
        <th th:text="${event.eventName}" colspan="7"></th>
    </tr>
    <tr>
        <td class="text-center"></td>
        <td class="text-center">П 1</td>
        <td class="text-center">Н</td>
        <td class="text-center">П 2</td>
        <td class="text-center">П 1 или Н</td>
        <td class="text-center">П 1 или П 2</td>
        <td class="text-center">П 2 или Н</td>
    </tr>
    <tr th:each="bk, coeffs : ${event.bookmakerCoeffs}">
        <td th:text="${bk.key}"></td>
        <td th:text="${coeffs.current.value.get('П 1')}"></td>
        <td th:text="${coeffs.current.value.get('Н')}"></td>
        <td th:text="${coeffs.current.value.get('П 2')}"></td>
        <td th:text="${coeffs.current.value.get('П 1 или Н')}"></td>
        <td th:text="${coeffs.current.value.get('П 1 или П 2')}"></td>
        <td th:text="${coeffs.current.value.get('П 2 или Н')}"></td>
    </tr>
    <br>
</table>
</body>
</html>
